.cart {
  display: flex;
  justify-content: center;
}

table {
  background-color: white;
  text-align: center;
  border-spacing: 0;
  font-size: 1.2rem;
  border-radius: 12px;
  box-shadow: 15px 15px 15px rgb(0, 0, 0, 0.8);
}

td:first-of-type {
  text-align: start;
}

th {
  font-size: 1.3rem;
}

th:first-of-type {
  border-top-left-radius: 12px;
}

th:last-of-type {
  border-top-right-radius: 12px;
}

th,
td {
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

td:last-of-type {
  border-right: none;
}

table tr:last-of-type td:first-of-type {
  border-right: none;
}

table tr:last-of-type td:nth-child(3),
table tr:last-of-type td:last-child {
  border-top: double black;
  font-weight: bolder;
  background: rgb(247, 128, 128);
}

tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 12px;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 12px;
}

th {
  background: green;
  border-bottom: 3px solid blue;
  color: white;
  font-weight: bold;
}

table input {
  width: 40px;
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: 'MedievalSharp', cursive;
  margin-right: 6px;
}

table button {
  border: none;
  font-size: 1rem;
  border-radius: 50%;
  height: 21px;
  background: red;
  font-weight: bold;
}

table button:hover {
  cursor: pointer;
  transform: scale(1.05)
}

table button:active {
  transform: scale(0.95);
}